.tado-wrapper {
    margin: 10px;
    font-family: sans-serif;
}

.tado-home {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 5px;
}

.tado-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tado-table th, .tado-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tado-table th {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

/* .status-hotwater { color: #1e90ff; margin-left: 3px; } */

.status-hotwater { 
    color: #ff0000; /* rood */
    margin-left: 3px; 
}
