.tado-wrapper {
    margin: 10px;
    font-family: sans-serif;
}

.tado-home {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
}

.tado-zone {
    color: #b8b8b8;
    font-weight: bold;           
}

/* Right-align the humidity column */
.tado-humidity {
    text-align: right;
}

/* Temperature Colors */
.temp-cold { color: #1e90ff; }
.temp-ok { color: #28a745; }
.temp-hot { color: #ff4500; }

/* Status Icon Colors */
.status-heating { color: #ff0000; }
.status-frost { color: #1e90ff; }
.status-window { color: #00bfff; }
.status-hotwater { color: #ff0000; margin-left: 3px; } /* Warm Water */

