.tado-row {
    display: grid;
    grid-template-columns: 1fr 28px 95px 28px 95px 40px;
    align-items: center;
    margin-bottom: 4px;
    font-size: 26px;
}

.tado-room {
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
}

.tado-thermo {
    text-align: center;
}

.tado-current {
    text-align: left;
}

.tado-separator {
    text-align: center;
}

.tado-target {
    text-align: right;
    padding-right: 10px;
}

.tado-status {
    text-align: center;
}

.tado-table th {
    background-color: #f2f2f2;
    text-transform: uppercase; /* Zorgt dat alles in hoofdletters staat */
}
