.tado-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px; /* ruimte tussen kolommen */
}

.tado-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tado-column {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 150px;
}

.tado-home {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.tado-zone {
    font-size: 0.9em;
    margin-left: 0;
    padding: 2px 0;
}
