.tado-home {
    margin-top: 5px;
    padding: 3px 5px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 1em;
}

.tado-zone {
    margin-left: 12px;
    padding: 2px 0;
    font-size: 0.9em;
}
