.tado-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tado-columns {
    display: flex;
    gap: 20px;
}

.tado-column {
    background: rgba(0,0,0,0.15);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 180px;
}

.tado-home {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

.tado-zone-table {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.tado-zone-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.tado-zone-room {
    flex: 2;
}

.tado-zone-temp {
    flex: 2;
    text-align: right;
}

.tado-zone-heating, .tado-zone-window {
    flex: 1;
    text-align: center;
}
